* {
  font-family: Aldrich, sans-serif;
  background: rgb(218, 218, 218);
}

h1 {
  text-align: center;
  border: 1px solid black;
}

h2 {
  color: purple;
}

#search_pups {
  color: red;
}

#useremail,
#password,
#submit-button {
  border: 5px solid darkblue;
  background-color: white;
}

#text-area-label {
  display: block;
  margin: 12px 0;
}

#textarea {
  border: 5px solid gray;
  background-color: white;
}
